/* 
    一直觉得Google的logo配色超级好看，也很清新，分享出来
    蓝 ： #2d85f0
    红 ： #f4433c
    黄 ： #ffbc32
    绿 ： #0aa858
*/

:root {
    --theme-color: #2d85f0;
}

html {
    font-size: 16px;
    color: black;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
}

body {
    display: block;
    margin: 0;
    border: 1px solid #ddd;
    background: #ebe5d8;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: black;
    font-family: Microsoft Yahei, Courier New, Helvetica Neue;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.75rem;
    margin: 0;
    overflow-x: hidden;
    background: #f6f1e7;
}

#write {
    display: block;
    font-family: Microsoft Yahei, Courier New, Helvetica Neue;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    background: #f6f1e7;
    max-width: 960px;
    margin: auto;
    padding: 5%;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 4rem;
    text-align: center;
    /* text-transform: uppercase; */
    margin-top: 4rem;
}

h2 {
    font-size: 1.75rm;
    font-weight: normal;
    line-height: 3rem;
    text-align: left;
    /* text-transform: uppercase; */
    margin-top: 3rem;
    border-bottom: 1px solid var(--theme-color);
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    margin-top: 2rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: normal;
}

h5 {
    font-size: 1.125rem;
    font-weight: bold;
}

h6 {
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    margin-block: 1rem;
    text-indent: 2rem;
}

a {
    color: var(--theme-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    margin-bottom: 20px
}

table th,
table td {
    padding: 8px;
    line-height: 1.25rem;
    vertical-align: top;
    border-top: 1px solid #ddd
}

table th {
    font-weight: bold
}

table thead th {
    vertical-align: bottom
}

table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0
}

table tbody+tbody {
    border-top: 2px solid #ddd
}

.markdown-section pre>code,
.md-fences {
    font-size: 1rem;
    color: #6f6f6f;
    padding: 1.5rem;
    line-height: 1.5rem;
//    border: 1px solid grey;
    text-indent: 0;
}

pre {
    /*元素内的空白保留，并允许换行*/
    white-space: pre-wrap !important;
    /*是否允许在单词内断句*/
    word-wrap: break-word !important;
    /*强调怎么样断句*/
    /*word-break: break-all !important;*/
}

.task-list {
    padding-left: 0;
}

.task-list-item {
    padding-left: 2.125rem;
}

input {
    border-style: ridge;
}

.task-list-item input {
    top: 3px;
}

.md-task-list-item input {
    margin-left: -1.5em;
}

.task-list-item input:before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid gray;
    background-color: #fdfdfd;
    margin-left: 0;
    -webkit-appearance: none;
    margin-top: -1rem;
}

.typora-node .task-list-item input:before {
    top: 0.3ex;
    position: absolute;
}

.task-list-item input:checked:before,
.task-list-item input[checked]:before {
    content: '\25FC';
    /*◘*/
    font-size: 0.8125rem;
    line-height: 0.9375rem;
}


/* Chrome 29+ */

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .task-list-item input:before {
        margin-top: -0.2rem;
    }
    .task-list-item input:checked:before,
    .task-list-item input[checked]:before {
        margin-top: -0.2rem;
    }
}

blockquote {
    margin: 0;
    padding: 0;
}

blockquote p {
    font-style: italic;
    line-height: 1.5;
    color: #6f6f6f;
    border-left: 3px solid var(--theme-color);
    padding: 0 1rem;
}

#write pre.md-meta-block {
    min-height: 30px;
    background: #f8f8f8;
    padding: 1.5em;
    font-weight: normal;
    font-size: 1em;
    padding-bottom: 1.5em;
    padding-top: 3em;
    margin-top: -1.5em;
    color: #999;
    width: 100vw;
    max-width: calc(100% + 60px);
    margin-left: -30px;
    border-left: 30px #f8f8f8 solid;
    border-right: 30px #f8f8f8 solid;
}

.MathJax_Display {
    font-size: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

p.mathjax-block,
.mathjax-block {
    padding-bottom: 0;
}

.mathjax-block>.code-tooltip {
    bottom: 5px;
    box-shadow: none;
}

.md-image>.md-meta {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.md-image>img {
    margin-top: 2px;
}

.md-image>.md-meta:first-of-type:before {
    padding-left: 4px;
}

#typora-source {
    color: #555;
}


/** ui for windows **/

#md-searchpanel {
    border-bottom: 1px solid #ccc;
}

#md-searchpanel .btn {
    border: 1px solid #ccc;
}

#md-notification:before {
    top: 14px;
}

#md-notification {
    background: #eee;
}

.megamenu-menu-panel .btn {
    border: 1px solid #ccc;
}

#typora-sidebar {
    box-shadow: none;
}

.file-list-item,
.show-folder-name .file-list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
}

.file-list-item-summary {
    height: 40px;
    line-height: 20px;
}

.ty-table-edit {
    background: #ededed;
}

.dropdown-menu .divider {
    border-color: #e5e5e5;
}

u {
    text-decoration: none;
    border-bottom: 2px solid var(--theme-color);
}

hr {
    border: 1px solid black;
}

.md-toc>p {
    text-indent: 0;
}

li p {
    text-indent: 0;
}

.markdown-section em {
    color: var(--theme-color);
    font-style: normal;
}

kbd {
    color: black;
}
